<div class="itl-footer">
    
    <!--
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="box">
                <div class="telephone">
                    {{t "footer.chengdu"}}
                    {{t "footer.chengdu_address"}}
                </div>
                <div class="address">
                    {{t "footer.contact_name"}}
                    {{t "footer.chengdu_contact"}}
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="box box-hover">
                <div class="telephone">
                    {{t "footer.beijing"}}
                    {{t "footer.beijing_address"}}
                </div>
                <div class="address">
                    {{t "footer.contact_name"}}
                    {{t "footer.beijing_contact"}}
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="box box-hover">
                <div class="telephone">
                    {{t "footer.shanghai"}}
                    {{t "footer.shanghai_address"}}
                </div>
                <div class="address">
                    {{t "footer.contact_name"}}
                    {{t "footer.shanghai_contact"}}
                </div>
            </div>
        </div>

    </div>
    -->
    






    <div class="row contact-box">
      <div>
        <div class="qr-code">
            <img src={{t "footer.QR_code"}}>
        </div>

        <div class="location">
            <div class="telephone">
                {{t "footer.contact_name"}}
                {{t "footer.chengdu_contact"}}
            </div>
            <div class="address">
                {{t "footer.chengdu"}}
                {{t "footer.chengdu_address"}}
            </div>

            <div class="telephone">
                {{t "footer.contact_name"}}
                {{t "footer.beijing_contact"}}
            </div>
            <div class="address">
                {{t "footer.beijing"}}
                {{t "footer.beijing_address"}}
            </div>
            

            <div class="telephone">
                {{t "footer.contact_name"}}
                {{t "footer.shanghai_contact"}}
            </div>
            <div class="address">
                {{t "footer.shanghai"}}
                {{t "footer.shanghai_address"}}
            </div>
        </div>
      </div>
    </div>



    <div class="copyright">
        <div class="copy">Copyright © {{year}} {{t "footer.tiaoling"}}</div>
        <div class="right">All Right Reserved {{t "footer.right"}}</div>
    </div>
</div>