<nav class = "navbar navbar-default navbar-fixed-top itl-header" role = "navigation">
    <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#target-menu" aria-expanded="false" aria-controls="target-menu">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#firstPage">
            <img class="logo" src="/icons/logo.png">
          </a>
      </div>


      <div class="collapse navbar-collapse" id="target-menu">
        <ul class="nav navbar-nav navbar-right">
          <li><a data-menuanchor="firstPage" href="/#firstPage" class="active">{{t "header.nav.home"}}</a></li>
          <li><a data-menuanchor="secondPage" href="/#secondPage" class="">{{t "header.nav.feature"}}</a></li>
          <li><a data-menuanchor="thirdPage" href="/#thirdPage" class="">{{t "header.nav.product"}}</a></li>
          <li><a data-menuanchor="fourthPage" href="/#fourthPage" class="">{{t "header.nav.customer"}} </a></li>
          <li><a data-menuanchor="fifthPage" href="/#fifthPage" class="">{{t "header.nav.about"}} </a></li>
        </ul>
      </div>


    </div>
    
  </nav>


