<div class="itl-product">
  <div class="slide">
  	<div class="intro">
  	  <h1>{{t "home.product.title"}}</h1>
  	  <p class="desc">{{t "home.product.desc"}}</p>
  	</div>
  </div>

  <div class="slide">
    <div class="intro">
      <img src={{t "home.product.slide1.logo"}} alt="write" class="img-responsive" />
      <h4>{{t "home.product.slide1.name"}}</h4>
      <p class="desc">{{t "home.product.slide1.title"}}</p>      
    </div>
    <div class="container">
      <div id="row">
        <div class="col-xs-6 col-md-6 item-left">
          <img src={{t "home.product.slide1.pic"}} alt="write" class="img-responsive" />
        </div>
        <div class="col-xs-6 col-md-6 item-right">

          <div class="row"></div>

          <div class="row">
            <div class="col-xs-2 col-md-2">
              <img src={{t "home.product.slide1.icon1"}} alt="write" class="img-responsive" />
            </div>
            <div class="col-xs-10 col-md-10">
              <p class="desc">{{t "home.product.slide1.icon1_desc"}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-2 col-md-2">
              <img src={{t "home.product.slide1.icon2"}} alt="write" class="img-responsive" />
            </div>
            <div class="col-xs-10 col-md-10">
              <p class="desc">{{t "home.product.slide1.icon2_desc"}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-2 col-md-2">
              <img src={{t "home.product.slide1.icon3"}} alt="write" class="img-responsive" />
            </div>
            <div class="col-xs-10 col-md-10">
              <p class="desc">{{t "home.product.slide1.icon3_desc"}}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


<div class="slide">
    <div class="intro">
      <img src={{t "home.product.slide2.logo"}} alt="write" class="img-responsive" />
      <h4>{{t "home.product.slide2.name"}}</h4>
      <p class="desc">{{t "home.product.slide2.title"}}</p>      
    </div>
    <div class="container">
      <div id="row">
        <div class="col-xs-6 col-md-6 item-left">
          <img src={{t "home.product.slide2.pic"}} alt="write" class="img-responsive" />
        </div>
        <div class="col-xs-6 col-md-6 item-right">

          <div class="row">
            <div class="col-xs-2 col-md-2">
              <img src={{t "home.product.slide2.icon1"}} alt="write" class="img-responsive" />
            </div>
            <div class="col-xs-10 col-md-10">
              <p class="desc">{{t "home.product.slide2.icon1_desc"}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-2 col-md-2">
              <img src={{t "home.product.slide2.icon2"}} alt="write" class="img-responsive" />
            </div>
            <div class="col-xs-10 col-md-10">
              <p class="desc">{{t "home.product.slide2.icon2_desc"}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-2 col-md-2">
              <img src={{t "home.product.slide2.icon3"}} alt="write" class="img-responsive" />
            </div>
            <div class="col-xs-10 col-md-10">
              <p class="desc">{{t "home.product.slide2.icon3_desc"}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-2 col-md-2">
              <img src={{t "home.product.slide2.icon4"}} alt="write" class="img-responsive" />
            </div>
            <div class="col-xs-10 col-md-10">
              <p class="desc">{{t "home.product.slide2.icon4_desc"}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-2 col-md-2">
              <img src={{t "home.product.slide2.icon5"}} alt="write" class="img-responsive" />
            </div>
            <div class="col-xs-10 col-md-10">
              <p class="desc">{{t "home.product.slide2.icon5_desc"}}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>



<div class="slide">
    <div class="intro">
      <img src={{t "home.product.slide3.logo"}} alt="write" class="img-responsive" />
      <h4>{{t "home.product.slide3.name"}}</h4>
      <p class="desc">{{t "home.product.slide3.title"}}</p>      
    </div>
    <div class="container">
      <div id="row">
        <div class="col-xs-6 col-md-6 item-left">
          <img src={{t "home.product.slide3.pic"}} alt="write" class="img-responsive" />
        </div>
        <div class="col-xs-6 col-md-6 item-right">

          <div class="row"></div>

          <div class="row">
            <div class="col-xs-2 col-md-2">
              <img src={{t "home.product.slide3.icon1"}} alt="write" class="img-responsive" />
            </div>
            <div class="col-xs-10 col-md-10">
              <p class="desc">{{t "home.product.slide3.icon1_desc"}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-2 col-md-2">
              <img src={{t "home.product.slide3.icon2"}} alt="write" class="img-responsive" />
            </div>
            <div class="col-xs-10 col-md-10">
              <p class="desc">{{t "home.product.slide3.icon2_desc"}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-2 col-md-2">
              <img src={{t "home.product.slide3.icon3"}} alt="write" class="img-responsive" />
            </div>
            <div class="col-xs-10 col-md-10">
              <p class="desc">{{t "home.product.slide3.icon3_desc"}}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>




<div class="slide">
    <div class="intro">
      <img src={{t "home.product.slide4.logo"}} alt="write" class="img-responsive" />
      <h4>{{t "home.product.slide4.name"}}</h4>
      <p class="desc">{{t "home.product.slide4.title"}}</p>      
    </div>
    <div class="container">
      <div id="row">
        <div class="col-xs-6 col-md-6 item-left">
          <img src={{t "home.product.slide4.pic"}} alt="write" class="img-responsive" />
        </div>
        <div class="col-xs-6 col-md-6 item-right">

          <div class="row"></div>

          <div class="row">
            <div class="col-xs-2 col-md-2">
              <img src={{t "home.product.slide4.icon1"}} alt="write" class="img-responsive" />
            </div>
            <div class="col-xs-10 col-md-10">
              <p class="desc">{{t "home.product.slide4.icon1_desc"}}</p>
            </div>
          </div>

          <div class="row"></div>

          <div class="row">
            <div class="col-xs-2 col-md-2">
              <img src={{t "home.product.slide4.icon2"}} alt="write" class="img-responsive" />
            </div>
            <div class="col-xs-10 col-md-10">
              <p class="desc">{{t "home.product.slide4.icon2_desc"}}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


<div class="slide">
    <div class="intro">
      <img src={{t "home.product.slide5.logo"}} alt="write" class="img-responsive" />
      <h4>{{t "home.product.slide5.name"}}</h4>
      <p class="desc">{{t "home.product.slide5.title"}}</p>      
    </div>
    <!--
    <div class="container">
      <div id="row">
        <div class="col-xs-6 col-md-6 item-left">
          <img src={{t "home.product.slide5.pic"}} alt="write" class="img-responsive" />
        </div>
        <div class="col-xs-6 col-md-6 item-right">

          <div class="row">
            <div class="col-xs-2 col-md-2">
              <img src={{t "home.product.slide5.icon1"}} alt="write" class="img-responsive" />
            </div>
            <div class="col-xs-10 col-md-10">
              <p class="desc">{{t "home.product.slide5.icon1_desc"}}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
    -->
  </div>



<div class="slide">
    <div class="intro">
      <img src={{t "home.product.slide6.logo"}} alt="write" class="img-responsive" />
      <h4>{{t "home.product.slide6.name"}}</h4>
      <p class="desc">{{t "home.product.slide6.title"}}</p>      
    </div>
    <div class="container">
      <div id="row">
        <div class="col-xs-6 col-md-6 item-left">
          <img src={{t "home.product.slide6.pic"}} alt="write" class="img-responsive" />
        </div>
        <div class="col-xs-6 col-md-6 item-right">

          <div class="row"></div>

          <div class="row">
            <div class="col-xs-2 col-md-2">
              <img src={{t "home.product.slide6.icon1"}} alt="write" class="img-responsive" />
            </div>
            <div class="col-xs-10 col-md-10">
              <p class="desc">{{t "home.product.slide6.icon1_desc"}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-2 col-md-2">
              <img src={{t "home.product.slide6.icon2"}} alt="write" class="img-responsive" />
            </div>
            <div class="col-xs-10 col-md-10">
              <p class="desc">{{t "home.product.slide6.icon2_desc"}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-2 col-md-2">
              <img src={{t "home.product.slide6.icon3"}} alt="write" class="img-responsive" />
            </div>
            <div class="col-xs-10 col-md-10">
              <p class="desc">{{t "home.product.slide6.icon3_desc"}}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


<div class="slide">
    <div class="intro">
      <img src={{t "home.product.slide7.logo"}} alt="write" class="img-responsive" />
      <h4>{{t "home.product.slide7.name"}}</h4>
      <p class="desc">{{t "home.product.slide7.title"}}</p>      
    </div>
    <div class="container">
      <div id="row">
        <div class="col-xs-6 col-md-6 item-left">
          <img src={{t "home.product.slide7.pic"}} alt="write" class="img-responsive" />
        </div>
        <div class="col-xs-6 col-md-6 item-right">

          <div class="row"></div>

          <div class="row">
            <div class="col-xs-2 col-md-2">
              <img src={{t "home.product.slide7.icon1"}} alt="write" class="img-responsive" />
            </div>
            <div class="col-xs-10 col-md-10">
              <p class="desc">{{t "home.product.slide7.icon1_desc"}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-2 col-md-2">
              <img src={{t "home.product.slide7.icon2"}} alt="write" class="img-responsive" />
            </div>
            <div class="col-xs-10 col-md-10">
              <p class="desc">{{t "home.product.slide7.icon2_desc"}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-2 col-md-2">
              <img src={{t "home.product.slide7.icon3"}} alt="write" class="img-responsive" />
            </div>
            <div class="col-xs-10 col-md-10">
              <p class="desc">{{t "home.product.slide7.icon3_desc"}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-2 col-md-2">
              <img src={{t "home.product.slide7.icon4"}} alt="write" class="img-responsive" />
            </div>
            <div class="col-xs-10 col-md-10">
              <p class="desc">{{t "home.product.slide7.icon4_desc"}}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>






  <!--
  <div class="row products">
    {{#each model.products as |p|}}
    <div class="col-md-4 col-xs-6">
      <img src="{{p.logo}}" class="img-responsive" />
      <p class="desc">{{p.name}}</p>
      <!--
      <p class="desc">{{c.description}}</p>
      -->
    </div>
    {{/each}}
  </div>
  -->
</div>